@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 240 240 240;
  --foreground: 0 0 0;
}

.dark {
  --accent: 23 23 23;
  --foreground: 255 255 255;
}

.ProseMirror {
  @apply outline-none min-h-[200px] p-4;
}

.ProseMirror p.is-editor-empty:first-child::before {
  @apply text-gray-400 float-left h-0 pointer-events-none;
  content: attr(data-placeholder);
}